<div>
    <div class="row">
        <div class="col-sm-3 proto-background">
            <div>
                <app-trainer-home></app-trainer-home>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-9 proto-background">
                    <app-cloud-component></app-cloud-component>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 proto-background">
                    <app-comment-container></app-comment-container>
                </div>
            </div>
        </div>
    </div>
</div>