<div>
    <div class="row">
        <div class="col-sm-2">
            <app-trainer-home></app-trainer-home>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <app-cloud-component></app-cloud-component>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <app-c
                </div>
            </div>
        </div>
    </div>
</div>