
<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <app-trainer-home></app-trainer-home>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-lg-12 cloud_component_background">
                <app-cloud-component></app-cloud-component>
            </div>
        </div>
        <div class="row">
            <div class="comment_size">
                <app-comment-container></app-comment-container>
            </div>
        </div>
    </div>
</div>