/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.grey_panel {
    background-color : lightgrey;
    box-shadow: 0px 1px 1px black;
    padding : 10px;
    margin : 1px;
}

.white_panel {
    background-color : white;
    box-shadow: 0px 1px 1px black;
    padding : 20px;
    margin : 1px;
}

main {
    background-color : rgb(184, 79, 79);
}

.image_size {
    width : 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 1px black;
}

.comment_size {
    width : 100%;
}

.justify_panel_left{
    padding-left : 2px;
}

.italics {
    font-style : italic;
}

.fill_height {
    height : 100%;
}

.cloud_component_background {
    background-image :linear-gradient(pink red);
}
