<!-- <body  *ngIf="!isLoggedIn"> -->

<div class="row">
    <div class='col-md-12' id="wesbiteName">
        <h1>Rate My Trainer</h1>        
        <p>Please select your name to login and continue</p>
    </div>  
    <div class="col-md-12">
        <form id = 'registerForm'>
      <div ngbDropdown class="d-inline-block">
        <button class="btn text-light" id="dropdown-button" ngbDropdownToggle>USER</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdown" >
          <div *ngFor="let user of users">
            <button ngbDropdownItem (click)="processUserLogin($event, user)"> {{user.lastName}} {{user.firstName}}</button>
          </div>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button class="btn text-light" id="dropdown-button" ngbDropdownToggle>TRAINER</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdown" >
          <div *ngFor="let trainer of trainers">
            <button ngbDropdownItem (click)="processTrainerLogin($event, trainer)"> {{trainer.lastName}} {{trainer.firstName}}</button>
          </div>
        </div>
      </div>
    </form>

    </div>