<p>Please select your name and submit to continue</p>


<!-- This may be replaced by a user's list from the DB-->
<div>
    <select>
        <option value="AKing">Adam King</option>
        <option value="jdoe">Jane Doe</option>
        <option value="psmith">Pam Smith</option>
        <option value="jwick">John Wick</option>
        <option value="wwoman">Wonder Woman</option>
        <option value="emurphy">Eddie Murphy</option>
        <option value="melliot">Missy Elliot</option>
        <option value="jatkins">Jordan Atkins</option>
        <option value="cchocolate">Charlie Chocolate</option>
        <option value="mduck">Mickey Duck</option>        
    </select>
    <button (click)="processLogin()">Submit</button>
</div>
